*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background-color: green;
}
.heading
{
    color: white;
    font-size: 300%;
    text-align: center;
    padding: 5%;
}
.search_area
{
    width: 100%;
}
.search_area .input
{
    display: flex;
    justify-content: center;
}
.search_area .input input
{
    font-size: 120%;
    outline: none;
    padding: 1%;
    border: none;
    background-color: rgba(255,255,255,0.8);
    border-top-left-radius: 5px;
    width: 40%;
}
.search_area .input button
{
    width: 3%;
    border: none;
    background-color: rgba(255,255,255,0.8);
    padding: 0.3%;
    border-top-right-radius: 5px;
}
.search_area .input button img
{
    width: 100%;
}
.center-sugg
{
    position:absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}
.center-sugg .suggestions
{
    width: 45%;
    background-color: white;
    font-size: 120%;
}
.center-sugg .suggestions .player
{
    padding: 1%;
}
.center-sugg .suggestions .player:hover
{
    background-color: blue;
    color: white;
}
.List
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single
{
    margin: 1%;
    padding-top: 1%;
    background-image: linear-gradient(rgba(238, 255, 0, 0.829),rgb(128, 87, 0));
    text-align: center;
    width: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    clip-path: polygon(0% 0%, 100% 0, 100% 73%, 50% 100%, 0 73%);
}
.single .name
{
    font-size: 200%;
}
.single .overall
{
    font-size: 300%;   
}